body {
    font-family: Montserrat;
}

.autosize {
    font-size: 18px;
}
.autowide {
    flex: 1; /* Chia đều chiều cao */
    display: flex;
}
.autofont {
    font-family: Montserrat;
}
.single-testimonial {
      display: flex;
      flex-direction: column;
       /* Chiều cao toàn màn hình */
}
.autoimg {
    flex: 1; /* Chia đều chiều cao */
    max-width: 150px;
    max-height: 150px;
    border-radius: 100%;
}
@media (min-width: 200px) and (max-width: 420px) {
    .autosize {
        font-size: 12px;
    }

    .logo {
        font-size: 18px;
    }
}